{% extends 'dashboard/base.html' %}

{% block dashcontent %}
    <h2> {{ brand.name }} </h2>
    <div class="pagination">
        {% if is_paginated %}  
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}"><b>Previous</b></a>
            {% endif %}
            <span>
                <b>Page: {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}</b> 
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}"><b>Next</b></a>
            {% endif %}
        {% endif %}
    </div>
    
    <div class="object-list">
        {% for object in products %}
            <a class="object-item" href="{% url 'products:detail_product' slug=object.slug%}">
                <img src="{{ object.get_thumbnail.image_url }}" alt="{{ object.get_thumbnail.alt }}">
                <h5>{{ object.name }}</h5>
                <h5>EGP {{ object.price }}</h5>
            </a>
        {% endfor %}
    </div>
    
    <div class="pagination">
        {% if is_paginated %}  
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}"><b>Previous</b></a>
            {% endif %}
            <span>
                <b>Page: {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}</b> 
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}"><b>Next</b></a>
            {% endif %}
        {% endif %}
    </div>

    {% comment %} {% for cat in categories %}
        <div>
            <a href="{% url 'dashboard:category_dashboard:category_detail' pk=cat.pk %}"> {{ cat.name }} </p>
            <a href="{% url 'dashboard:category_dashboard:category_update' pk=cat.pk %}"> update </a>
            <a href=""> delete </a>
        </div>
        
    {% endfor %} {% endcomment %}
{% endblock %}