{% extends "base.html" %}

{% block content %}

{% endblock %} 
{% block paging %}
<div class="pagination">
    {% if is_paginated %}  
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}"><b>Previous</b></a>
        {% endif %}
        <span>
            <b>Page: {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}</b> 
        </span>
        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}"><b>Next</b></a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}