{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if checkout_line %}
                {% for line in checkout_line %}
                    <div class="col-md-12">
                        <p>{{ line }} [{{ line.product.sku }}]</p>
                        <p>{{ line.quantity  }} x {{ line.product.price }}$</p>
                        <p>subtotal: {{ line.get_sub_total }}</p>
                        <hr> 
                    </div>
                {% endfor %}
                <p> total : {{total}} </p>
            {% endif %}
            <form action="{% url 'checkout:create_order_view' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Buy Now</button> 
            </form>
            
            {% comment %} <form action="{% url 'checkout:create_order_view' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="lucky" value="true">
                <button type="submit" class="btn btn-success">I'm Feeling Lucky</button> 
            </form> {% endcomment %}
        </div>
    </div>
{% endblock %}